* {
    font-family: serif;
    font-weight: bolder;
    text-decoration: none;
    
    box-sizing: border-box;
}

h1 {
    font-family: sans-serif;
}

h2 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
	width: 100%;
    
    background-color: rgb(15,15,15);
    color: #FFFFFF;
}

.donotsteelmystuff {
    width: 100%;
    height: 100%;
    position: fixed;
}


/*-------------Header-------------*/

.header {
    margin: 0px;
    padding: 0px;
    
    text-align: center;
    text-shadow: 4px 4px 10px black;
}

.header div {
    width: 100%;
    position: absolute;
    
    top: 50%;
    transform: translate(0,-50%);
}

.header h1 {
    margin: 0px;
    font-size: 80px;
}

.header p {
    margin: 0px;
    font-size: 30;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*-------------Menu-Bar-------------*/

.topnav {
    box-shadow: 4px 4px 10px black;
    
    bottom: 0px;
    
    height: 56px;
    width: 100%;

    background-color: rgb(50,50,50);
}

.topnav a {
    width: 25%;
    padding: 10px;
    
    float: left;
    display: block;
    
    color: white;
    
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}


.topnav a:hover {
    background-color: rgb(100,100,100);
}

#closed{
    text-decoration: line-through;
    color: rgb(42,42,42);
}


/*-------------Main-body-------------*/

.leftcolumn {
    float: left;
    padding: 0px 10%;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    
    padding-left: 20px;
}

.card {
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*-------------Footer-------------*/

.footer {
    background-color: rgb(50,50,50);
    text-align: center;
    padding: 16px;
}

@media screen and (max-width:700px) {
    .topnav {
        height: 224px;
    }
    .topnav a {
        width: 100%;
    }
    .leftcolumn {
        padding: 0px;
    }
}