* {
	font-family: arial;
    font-weight: bolder;
    text-decoration: none;
}

html {
	background-color: white;
}

body {
    margin: auto;
	width: 100%;
}

.header h1 {
    margin: 0px;
    padding: 20% 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 80px;
    color: white;
    
    text-shadow: 4px 4px 10px black;
}

.header img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

/* Menu bar */

.menu {
    margin: 0px;
    padding: 0px;
    
    position: absolute;
    bottom: 0px;
    
    height: 50px;
    width: 100%;

    background-color: rgb(50,50,50);
}

.menu a {
    padding: 10px 0px 9px 0px;
}

.menu-button {
    float: left;
    height: 100%;
    width: 25%;
    
    display: block;
    
    color: white;
    
    font-size: 25px;
    text-align: center;
}

.menu-button:hover {
    background-color: rgb(100,100,100);
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdownbtn {
    background-color: rgb(100,100,100);
}